@import '../../styles/media.config';

.chat {
  height: 100%;
}

.chat-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  max-width: 368px;
  min-width: auto;
  margin: 0 auto;

  @include tablet {
    max-width: 608px;
  }

  @include desktop {
    max-width: 928px;
  }
}

.form {
  margin-top: auto;
}

.message-wrapper {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

  &.is-owner {
    justify-content: flex-start;

    .author {
      text-align: left;
    }
  }
}

.author {
  width: 100%;
  text-align: right;
}

.message {
  padding: 20px;
  max-width: 60%;
}

.text {
  word-wrap: break-word;
  white-space: pre-wrap;
}
